html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --easyKetoGreen: #00ce32;
  --easyKetoDarkGreen: #008824;
  --easyKetoVeryDarkGreen: #00380e;
  --easyKetoGrey: #252525;
  --easyKetoLightGrey: #464646;
}
